// color variables

$mercury: #e7e7e7;
$wild-sand: #F2F2F2;
$stardust: #f8f8f8;
$pampas: #F1EBE7;
$selective-yellow: #FECC6A;
$endeavor-blue: #0063A4;
$curious-blue: #3494D2;
$mantis: #7DC254;
$tutu: #FFFBFF;
$tundora: #444444;
$black: #000;
$white: #FFF;
$vermillion: #FF4100;
$vivid-violet: #822F91;

// functional color variables

$color-prim: $endeavor-blue;
$color-prim-2: $curious-blue;
  $color-prim-2--light: lighten($color-prim-2, 25%);
$color-sec: $mantis;
  $color-sec--light: lighten($color-sec, 30%);

$color-main-text: $tundora;
$color-large-heading: $black;
$color-box-shadow: $black;

$color-thirds-fill: $tutu;
$color-light-fill: $wild-sand;
$color-light-fill--brown: $pampas;
$color-lighter-fill: $stardust;

$color-button-callout: $selective-yellow;
  $color-button-callout--light: lighten($selective-yellow, 10%);
$color-light-decoration: $mercury;
$color-dark-decoration: darken($color-light-decoration, 50%);
$color-red-decoration: $vermillion;
$color-purple-decoration: $vivid-violet;
