<h2>Site Color Palette</h2>
<div style="width:30%;background-color: #e7e7e7;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;">Mercury</span>
</div>
<span class="filemeta">Used primarily as a filler for small section breakout elements, such as <code>.section__breakout--aside</code>. Functional color variable is <code>$color-light-decoration</code></span>

<div style="width:30%;background-color: #F2F2F2;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;">Wild Sand</span>
</div>
<span class="filemeta">Used primarily as a filler for smaller block elements, such as <code>.sch-card__filter-box</code>. Functional color variable is <code>$color-light-fill</code></span>

<div style="width:30%;background-color: #f8f8f8;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;">Stardust</span>
</div>
<span class="filemeta">Used primarily as a filler for larger section breakout elements, such as <code>.section__breakout--full</code>. Functional color variable is <code>$color-lighter-fill</code></span>

<div style="width:30%;background-color: #F1EBE7;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;">Pampas</span>
</div>
<span class="filemeta">Used primarily as a filler for <code>.post__section--callout</code>. Functional color variable is <code>$color-light-fill--brown</code></span>

<div style="width:30%;background-color: #0063A4;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Endeavor Blue</span>
</div>
<span class="filemeta">Primary color. Functional color variable is <code>$color-prim</code></span>

<div style="width:30%;background-color: #3494D2;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Curious Blue</span>
</div>
<span class="filemeta">Secondary color. Functional color variable is <code>$color-prim-2</code></span>

<div style="width:30%;background-color: #7DC254;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Mantis</span>
</div>
<span class="filemeta">Secondary green color. Functional color variable is <code>$color-sec</code></span>

<div style="width:30%;background-color: #FFFBFF;margin-top:10px;height:30px;border: 1px solid #3494D2;border-radius:10px;">
	<span style="display:block;padding:7px;">Tutu</span>
</div>
<span class="filemeta">Used as a filler, always has a one pixel border using our primary color. Functional color variable is <code>$color-thirds-fill</code></span>

<div style="width:30%;background-color: #444444;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Tundora</span>
</div>
<span class="filemeta">Font color. Functional color variable is <code>$color-main-text</code></span>

<div style="width:30%;background-color: #000;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Black</span>
</div>
<span class="filemeta">Classic black. Used for box and text shadows.</span>

<div style="width:30%;background-color: #FECC6A;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;">Selective Yellow</span>
</div>
<span class="filemeta">Yellow decoration. Functional color variable is <code>$color-button-callout</code></span>

<div style="width:30%;background-color: #FF4100;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:black;">Vermillion</span>
</div>
<span class="filemeta">Red decoration. Functional color variable is <code>$color-red-decoration</code></span>

<div style="width:30%;background-color: #822F91;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;">Vivid Violet</span>
</div>
<span class="filemeta">Purple decoration. Functional color variable is <code>$color-purple-decoration</code></span>

<h2>Color Classes</h2>
<p>These are ideal for using on elements such as buttons or callout sections where you want it to be a different color than the default CSS. For instance, <code>.no-bg--color</code> will default a page element's background color back to white.</p>

<p class="post__section--callout no-bg--color">{{ long-paragraph }}</p>

<h3>Light and Dark variants</h3>
<div class="light-blue" style="width:30%;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;"><code>.light-blue</code></span>
</div>

<div class="light-green" style="width:30%;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;"><code>.light-green</code></span>
</div>

<div class="light-yellow" style="width:30%;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;"><code>.light-yellow</code></span>
</div>

<div class="dark-green" style="width:30%;margin-top:10px;height:30px;border-radius:10px;">
	<span style="display:block;padding:7px;color:white;"><code>.dark-green</code></span>
</div>




