<h2 class="heading{{ modifier }}">{{ text }}</h2>

<h3 class="heading{{ modifier }}">{{ text }}</h3>

<span class="filemeta">Using <code>.section-header</code> class with an <code>h2</code> as a heading break for content. Used primarily on the homepage but can also be used above columns to separate page content.</span>
<h2 class="section-header"><span>Vision 2018</span></h2>