<div class="header group">
  <div class="header-inner group" itemscope="" itemtype="http://schema.org/Organization">
    <div class="logomark">
      <a href="/"><img itemprop="logo" class="logo shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/hcpss-logo-outlined.png" height="60" width="60" alt="">
      <h1>Howard County Public School System</h1></a>
    </div>
    <div class="sm">
      <link itemprop="url" href="http://www.hcpss.org/">
      <ul class="social-media-icons group">
        <li><a target="_blank" id="social-media-icon-twitter" href="https://twitter.com/hcpss/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/twitter-squared.svg" alt="Follow @hcpss on Twitter"></a></li>
        <li><a target="_blank" id="social-media-icon-facebook" href="https://www.facebook.com/hocoschools/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/facebook-squared.svg" alt="Like HoCoSchools on Facebook"></a></li>
        <li><a target="_blank" id="social-media-icon-instagram" href="https://instagram.com/hocoschools/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/instagram.svg" alt="Follow HoCoSchools on Instagram"></a></li>
        <li><a target="_blank" id="social-media-icon-vimeo" href="https://www.vimeo.com/hcpss/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/vimeo-squared.svg" alt="Watch HCPSS videos on Vimeo"></a></li>
        <li><a target="_blank" id="social-media-icon-youtube" href="https://www.youtube.com/hcpsstv/" itemprop="sameAs"><img src="http://s3.amazonaws.com/hcpss.web.site/images/youtube-squared.svg" alt="Watch HCPSS videos on YouTube"></a></li>
        <li><a target="_blank" id="social-media-icon-super-blog" href="https://superintendent.hcpss.org/"><img src="http://s3.amazonaws.com/hcpss.web.site/images/blog-icon.svg" width="27" height="32" alt="Visit the Superintendent's Blog"></a></li>
      </ul>
    </div>
  </div>

</div>