<h2><code>.shadow-smaller</code> will round out an image's corners.</h2>

<div class="two-thirds">
	<img class="shadow-smaller" src="http://www.hcpss.org/f/images/t/hcpss-connect-banner.jpg" alt="" />
</div>

<div class="contents">
  <h2><code>.pict</code> floats an image to the right inside of its parent container</h2>
  <span class="filemeta">This is used primarily for legacy images that do not follow homepage image dimensions.</span>
  <p><img class="pict img--shadow" src="http://www.hcpss.org/f/academics/arts/princess.jpg"></p>
  <p>Theatre Arts provides the opportunity for students in Grades 9-12 to establish life-long relationships with theatrical expression. Theatre instruction combines the study of theatre history and dramatic literature with the development of interpretive and emotional skills. The curriculum encompasses appreciation and demonstration of technical theatre craft and critical acumen. Theatre is a collaborative activity involving the participation of artists, technicians, and the presence of an audience.
  <p>Dance Education promotes aesthetic sensitivity and provides an opportunity for students to experience intellectual, physical, emotional and social growth. Students observe, respond, create, and perform using the body as an instrument to communicate feelings, thoughts, and ideas. Through exploring dance concepts, students demonstrate critical thinking skills and core values as well as develop personal integrity. Dance education fosters positive student interaction and an appreciation for diverse points of view, while establishing strong human bonds which transcend racial, ethnic, and socioeconomic barriers. The sequentially developed program presents a broad cultural and historical perspective, providing unique opportunities for cross-curricular connections.</p>
</p>
</div>

<div class="contents">
<h2><code>.img--shadow</code> gives a subtle shadow effect to any image</h2>
  <div class="col-left">
    <p><img class="img--shadow" src="http://www.hcpss.org/wp-content/uploads/2015/07/bus-safety-kids.jpg"></p>
  </div>
  <div class="col-right">
  <h2 id="stop-faqs">Bus stops</h2>
    <p>Bus stops are established based on several factors, which include walking conditions, walking distance to the stop and road accessibility. Given acceptable walking conditions, bus stops are placed at least a quarter mile apart.</p>
    <p><a href="/schools/transportation/service-faq/#stops">View frequently asked questions about stops&nbsp;→</a></p>
  </div>
</div>


<h2><code>.fourths</code> can separate images into four columns, and the following pattern will float the caption to the left.</h2>

<div class="contents">
<div class="fourths">
  <p><a href="http://www.hcpss.org/news-posts/2016/05/mt-hebron-high-school-commencement-june-2/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-mhhs-graduates.jpg" width="200" height="104" alt=""><br>
    <span class="caption" style="margin-right: 35px;"><span class="goal-number">Mount Hebron </span> High School</span></a></p>
</div>
<div class="fourths">
  <p><a href="/news-posts/2016/05/glenelg-high-school-commencement-june-2/"><img class="shadow-smaller" src="https://s3.amazonaws.com/hcpss.web.site/images/2016-ghs-graduate.jpg" width="200" height="104" alt=""><br>
    <span class="caption" style="margin-right: 35px;"><span class="goal-number">Glenelg </span> High School</span></a></p>
</div>
<div class="fourths">
  <p><a href="/news-posts/2016/05/atholton-high-school-commencement-june-2/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-ahs-graduate.jpg" width="200" height="104" alt=""><br>
    <span class="caption" style="margin-right: 35px;"><span class="goal-number">Atholton</span> High School</span></a></p>
</div>
<div class="fourths">
  <p><a href="/schools/commencement/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-graduation-wlhs.jpg" width="200" height="104" alt=""><br>
    <span class="caption" style="margin-right: 35px;"><span class="goal-number">All </span> Commencements</span></a></p>
</div>
</div>

<h2><code>.fourths</code> can use <code>.img--no-reset</code> within it's <code>img</code> tags to override the default of floating left on mobile, text will remain underneath the image</h2>
<div class="contents">
  <div class="fourths no-border">
    <p><a href="http://www.hcpss.org/news-posts/2016/05/mt-hebron-high-school-commencement-june-2/"><img class="img--no-reset shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-mhhs-graduates.jpg" width="200" height="104" alt=""><br>
    <span><span>Mount Hebron </span> High School</span></a></p>
  </div>
  <div class="fourths no-border">
    <p><a href="/news-posts/2016/05/glenelg-high-school-commencement-june-2/"><img class="img--no-reset shadow-smaller" src="https://s3.amazonaws.com/hcpss.web.site/images/2016-ghs-graduate.jpg" width="200" height="104" alt=""><br>
    <span><span>Glenelg </span> High School</span></a></p>
  </div>
  <div class="fourths no-border">
    <p><a href="/news-posts/2016/05/atholton-high-school-commencement-june-2/"><img class="img--no-reset shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-ahs-graduate.jpg" width="200" height="104" alt=""><br>
    <span><span>Atholton</span> High School</span></a></p>
  </div>
  <div class="fourths no-border">
    <p><a href="/schools/commencement/"><img class="img--no-reset shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/2016-graduation-wlhs.jpg" width="200" height="104" alt=""><br>
    <span><span>All </span> Commencements</span></a></p>
  </div>
</div>