// font stacks

$font-family--primary: 'Fira Sans', sans-serif;

// font weights

$font-weight--thin: 100;
$font-weight--light: 200;
$font-weight--medium: 300;
$font-weight--bold: 400;
$font-weight--ultra-bold: 500;

// borders

$br-default: 1px solid;
$br-thick: 5px solid;

// font sizes

$font-default: 16px;

$font-x-large: em(32px);
$font-large: em(24px);
$font-medium: em(21px);
$font-small: em(14px);
$font-x-small: em(12px);