<!-- none of the inline styles should be used in production, this is just for the purposes of our style guide -->
<style type="text/css">
.font { display: block; margin-top: 5px; }
</style>

<h2>We use Fira Sans, sans-serif on our site</h2>

<br />

<span class="font">Default size</span>
<span class="font" style="font-size:0.750em;">Smallest</span>
<span class="font" style="font-size:0.875em;">Small</span>
<span class="font" style="font-size:1.313em;">Medium</span>
<span class="font" style="font-size:1.5em;">Large</span>
<span class="font" style="font-size:2em;">Largest</span>

<br />

<span class="filemeta">Default border</span>
<hr style="border: 1px solid black">

<span class="filemeta">Thick border</span>
<hr style="border: 5px solid black">