p {
  color: $color-main-text;
  line-height: 24px;
  margin-right: 35px;
}

a {
  text-decoration: none;
}

a {
  color: $color-prim-2;
    &:hover {
  	  color: $color-prim;
    }
}

.post__section--callout {
	float:right;
	width:200px;	
	margin-bottom:2em; 
	margin-left:1em;
	padding:.5em .5em .5em 1em;
	border-top:#0063A4 3px solid;
	border-bottom:#0063A4 3px solid;
	background-color:#F1EBE7;
		@media screen and (max-width:42.8125em) {
			width:100%;
			margin-left:0;
			margin-right:0
		}
}

.post__paragraph--callout {
    font-size: larger;
    font-weight: $font-weight--medium;	
}

.paragraph--center {
	@extend .heading--center;
}

.paragraph__no-reset--center {
	@extend .heading__no-reset--center;
}
