// color classes

.light-blue {
  background-color: $color-prim-2--light !important;
}

.light-green {
  background-color: $color-sec--light !important;
}

.light-yellow {
  background-color: $color-button-callout--light !important;
}

.dark-green {
	background-color: darken($color-sec, 10%) !important;
}