<p><code>.paragraph__no-reset--center</code></p>
<span class="filemeta">This should not be used with headings or other block-level elements, only paragraphs</span>
<p class="paragraph{{ modifier }}">{{ short-paragraph }} This will not float left on smaller viewports.</p>