<p><code>.post__paragraph--callout</code></p>
<p class="post__paragraph--callout">{{ long-paragraph }}</p>

<p><code>.full</code></p>
<div class="full">
	<p>{{ long-paragraph }}</p>
</div>

<p><code>.post__section--callout</code> next to a regular paragraph</p>
<p class="post__section--callout">{{ long-paragraph }}</p>

<p>{{ long-paragraph }}</p>