<p>{{ short-paragraph }}</p>
<p><strong>{{ short-paragraph }}</strong></p>
<p><em>{{ short-paragraph }}</em></p>
<p><a href="http://www.hcpss.org/" target="_blank">This is what a link looks like.</a></p>
<blockquote>{{ short-paragraph }}</blockquote>