<p><code>.post__paragraph--callout</code></p>
<span class="filemeta">This is used primarily in news posts to highlight the first paragraph.</span>
<p class="post__paragraph--callout">{{ long-paragraph }}</p>

<p><code>.full</code></p>
<span class="filemeta">This can be wrapped around most styles on the site, such as columns or regular paragraphs. Use only when a block of content should stand out or be separated from surrounding content.</span>
<p></p>
<div class="full">
	<p>{{ long-paragraph }}</p>
</div>

<p><code>.post__section--callout</code> next to a regular paragraph</p>
<span class="filemeta">When used next to an adjoining paragraph, it allows an important quote to live separate from the news post.</span>
<p class="post__section--callout">{{ long-paragraph }}</p>

<p>{{ long-paragraph }}</p>