<p>Always use .contents when using columns. The .contents rule works the same as a row in Bootstrap by going the full width of the container and is set to display:inline-table</p>

<h2>Two-column paragraphs</h2>

<span class="filemeta"><code>.col-left</code> and <code>.col-right</code> can separate longer content into two columns.</span>

<div class="contents">
	<div class="col-left">
		<h3>Staggering Statistics</h3>
		<p>No matter the location—whether it’s in the classroom or on the street—HCPSS values safety as a priority for everyone. Safe Kids Worldwide reports that high-school students age 15–19 make up half of all underage pedestrian fatalities. They have twice the death rate of younger children. Often in these accidents, it is because the teens are distracted by texting, handheld games, music or talking on the phone while they are walking. Statistics show that 1 in 5 high school teens cross the street while engaged in a distracting behavior. Maryland is in the top 10 states with the greatest number of pedestrian fatalities among youth 12–19-years-old.</p>
	</div>
	<div class="col-right">
		<h3>Tips to Stay Safe</h3>
		<ul>
			<li>Put away your device before crossing the street. Never walk into the street without first looking both ways to make sure there is no oncoming traffic. </li>
			<li>Make eye contact with drivers. This will ensure that you see them and they see you. </li>
			<li>Cross at street corners with crosswalks and wait for the signal to walk before crossing. </li>
			<li>If you need to use your device, stop and do so in a safe place, not in the middle of the road. </li>
			<li>Walk on the sidewalk and watch out for cars that are turning or pulling in/backing up from driveways. </li>
			<li>If you are wearing headphones, pull them out of your ears or turn the volume down before crossing the street. </li>
			<li>Be predictable. Use crosswalks as often as you can. This is where drivers will be expecting pedestrians. </li>
			<li>You may not be distracted, but others may be. Be aware, not just of yourself, but of others and don’t be afraid to speak up if someone else is being unsafe. </li>
		</ul>
	</div>
</div>

<h2>Two-columns with an image</h2>
<span class="filemeta"><code>.col-left</code> or <code>.col-right</code> can contain images as long as they're wrapped in paragraph tags. This aligns it properly with adjacent copy.</span>

<div class="contents">
	<div class="col-left">
		<h3>What is LEED?</h3>
		<p>LEED is an internationally recognized green building certification system developed by the U.S. Green Building Council. LEED standards guide all HCPSS construction planning to ensure energy efficiency and environmental friendliness. Howard County is the only school system in the state to pursue all new school construction and complete renovations to be LEED certified or better.</p>
	</div>
	<div class="col-right">
		<p><img class="img--shadow" src="http://www.hcpss.org/wp-content/uploads/2016/05/dles-front-building-leed-logo.jpg" alt=""></p>
	</div>
</div>

<h2>Two-columns with lists</h2>
<span class="filemeta"><code>.col-left</code> and <code>.col-right</code> to separate lists of content into two columns</span>

<div class="contents">
	<div class="col-left">
		<p><strong>Alcon Labs</strong></p>
		<ul>
			<li>Constructing boxes</li>
			<li>Packaging inserts, label lids</li>
			<li>Stacking boxes in appropriate locations</li>
		</ul>
		<p><strong>Columbia Ice Rink</strong></p>
		<ul>
			<li>Cleaning windows</li>
			<li>Cleaning tables and benches</li>
			<li>Vacuuming</li>
		</ul>
		<p><strong>Green Valley Marketplace</strong></p>
		<ul>
			<li>Bagging groceries</li>
			<li>Organizing and restocking shelves</li>
		</ul>
		<p><strong>Mar Tar Swim School</strong></p>
		<ul>
			<li>Vacuuming and dusting</li>
			<li>Cleaning windows</li>
			<li>Folding towels</li>
			<li>Clerical jobs</li>
		</ul>
	</div>
	<div class="col-right">
		<p><strong>Mosaic Christian Church</strong></p>
		<ul>
			<li>Cleaning toys in classrooms</li>
			<li>Cleaning tables and chairs</li>
			<li>Vacuuming rooms and hallways</li>
		</ul>
		<p><strong>On The Border</strong></p>
		<ul>
			<li>Wiping down menus</li>
			<li>Rolling silverware in napkins</li>
		</ul>
		<p><strong>Petco</strong></p>
		<ul>
			<li>Unpacking merchandise</li>
			<li>Stocking and straightening shelves</li>
		</ul>
		<p><strong>Town Center Community</strong></p>
		<ul>
			<li>Cleaning the preschool room</li>
			<li>Clerical duties (mailings, brochures and newsletters)</li>
		</ul>
		<p><strong>Weis Market</strong></p>
		<ul>
			<li>Bagging groceries</li>
			<li>Organizing and restocking shelves</li>
		</ul>
	</div>
</div>


<h2><code>.section__breakout--aside</code> to float a section to the right of regular content</h2>

<span class="filemeta">When combined with <code>.col-right</code> or <code>.col-left</code> this will add a gray box around small chunks of content that need to be called out/emphasized.</span>

<div class="col-right section__breakout--aside">
<h3>Follow the law, keep students safe</h3>
  <p>All motorists must stop at least 20 feet from the front and rear of the school bus and remain stopped until the bus is put in motion.</p>
  <p><a href="http://www.mva.maryland.gov/safety/mhso/program-kids.htm" target="_blank">Read more at MVA.gov&nbsp;→</a></p>
</div>

<p>All motorists are required by law to stop when the red lights on buses are flashing. To pass a bus when the right lights are on is, by far, the greatest threat to the safety of the students. The refusal to stop for a school bus when the flashing red lights are in operation is punishable by a traffic ticket and fine of up to $1,000. Motorists should be aware that the red flashing lights and the stop sign might be engaged shortly after the bus’ amber lights are turned on. All drivers should decrease their speed and be prepared to stop when they see a school bus beginning to slow down and when students are present on the roadside.</p>