<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' href="http://s3.amazonaws.com/hcpss.web.site/images/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/hcpss.web.site/fonts/fira.css" >
    <link media="all" rel="stylesheet" href="/main.min.css">
    <title>Preview Layout</title>
</head>
<body>

<div class="container group">

<div class="main">	

</div>

</div>

{{{ yield }}}

</body>
</html>
