<p><a class="btn__large" href="https://hcpss.me/synergy/"><span class="btn__text"><i class="fa fa-bar-chart fa-2"></i> HCPSS Connect Login</span></a></p>
<p class="filemeta__sub-btn"><span class="filemeta">This can be used under images or buttons to provide additional context.</span></p>

<p><a class="btn__medium" href="#"><span class="btn__text">Medium</span></a></p>

<p><a class="btn__medium dark-green" href="#"><span class="btn__text">Medium</span></a></p>

<p><a class="btn__small" href="#"><span class="btn__text">Small</span></a></p>

<p><a class="btn__small dark-green" href="#"><span class="btn__text">Small</span></a></p>

<p class="btn__small btn--disabled" href="#"><span class="btn__text">Disabled Button</span></p>

<p class="btn__small dark-green btn--disabled" href="#"><span class="btn__text">Disabled Button</span></p>

<p><span class="subscribe"><a href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn more&nbsp;→</a></span></p>