<div class="slider">
<div class="slide-viewer">
 <div class="slide-buttons"></div>
<div class="slide-group">

<div class="slide single section group">
<div class="image">    
<img src="http://s3.amazonaws.com/hcpss.web.site/images/vision-2018-kid-group.jpg" alt="">
</div>
<div class="card"> 
<h2 style="font-size: 18px;">Putting Your Feedback Into Action</h2>
<p style="color:white;">Over on the Superintendent’s Corner, Dr. Foose takes a close look at the Vision 2018 sessions and online survey feedback.</p>
<p><span class="subscribe" style="display: block;"><a href="https://superintendent.hcpss.org/2016/06/putting-your-feedback-into-action/">Read more on her blog&nbsp;→</a></span></p>
</div>     
</div>

<div class="slide single section group">
<div class="image">
<img src="http://s3.amazonaws.com/hcpss.web.site/images/lunch-kids-homepage.jpg" alt="" >
</div>
<div class="card">
<h2 style="font-size: 16px;">HCPSS Expands Summer Food Service to Four Locations</h2>
<p style="color:white;">Parents or guardians do not need to apply to get free summer meals for their children. They can simply bring their child to one of the summer meal sites.</p>
<p><span class="subscribe" style="display: block;"><a href="/news-posts/2016/03/2015-16-172/ ">Learn more about summer meals&nbsp;→</a></span></p>
</div>
</div>

<div class="slide single section group">
<div class="image">
 <img src="http://s3.amazonaws.com/hcpss.web.site/images/staff-focus-reinhardt-hahs-pvms-orchestra-homepage.jpg" alt="" >
</div>
<div class="card">
<h2 style="font-size: 16px;">Elizabeth Reinhardt, Orchestra Director, Hammond High School and Patuxent Valley Middle School</h2>
<p style="color:white;">Orchestra director Elizabeth Reinhardt is known as an excellent cellist who brings out the best in her students. Reinhardt, an alumna of HCPSS, has pursued her love of music since her elementary orchestra days. </p>
<p><span class="subscribe" style="display: block;"><a href="/news-posts/2016/06/staff-focus-elizabeth-reinhardt-orchestra-director-hahs-pvms/">Find out more about Elizabeth&nbsp;→</a></span></p>
</div>
</div>

<div class="slide single section group">
<div class="image">    
 <img src="http://s3.amazonaws.com/hcpss.web.site/images/bbms-new-classroom-group.jpg" alt="">
</div>
<div class="card"> 
<h2 style="font-size: 18px;">Reflections on This Year’s Achievements</h2>
<p style="color:white;">Over on the Superintendent’s Corner, Dr. Foose reflects back on a few highlights from this school year, and thanks staff and community for making it possible.</p>
<p><span class="subscribe" style="display: block;"><a href="https://superintendent.hcpss.org/2016/06/reflections-on-this-years-achievements/">Read her blog post&nbsp;→</a></span></p>
</div>     
</div>

<div class="slide single section group">
<div class="image"> 
<img src="http://s3.amazonaws.com/hcpss.web.site/images/calendar-committee.jpg" alt="">
</div>
<div class="card"> 
<h2 style="font-size: 18px;">Religious and Cultural Observances Calendar Impact Survey</h2>
<p style="color:white;">To better understand the impact of staff and student absences for religious or cultural observances, HCPSS has created a survey to gather data.</p>
<p><span class="subscribe" style="display: block;"><a href="/news-posts/2016/06/religious-and-cultural-observances-calendar-impact-survey/">Find out more&nbsp;→</a></span></p>
</div> 
</div> 


</div>
</div>

</div>