<h2>News syndication page layout</h2>
<span class="filemeta">Based on the topmost parent being <code>.post</code>, these styles are only for the main news pages and are embedded in the theme.</span>

<div class="container post group">

<div class="main">
<!-- <p>&mdash;&mdash; Press Release Category Template &mdash;&mdash;</p>  -->

<h1>Press Releases</h1>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-242/">Columbia Festival of the Arts Partners with HCPSS to Broaden Participation in the Arts and Performance Opportunities for Students</a></h2>
	<p>In a new partnership, Columbia Festival of the Arts (CFA) will collaborate with the Howard County Public School System to broaden participation and appreciation of the arts through CFA programs.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-241/">Board of Education Audit Committee to Meet, June 16 (Time Change)</a></h2>
	<p>The Howard County Board of Education Audit Committee meeting, previously scheduled for 1 p.m. on Thursday, June 16, 2016, has been rescheduled to 12:30 p.m.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-240/">Applications and Research Laboratory Partnership Provides Housing Repairs for Howard County Homeowners</a></h2>
	<p>The Applications and Research Laboratory (ARL), a Centralized Career Academy High School, is partnering with Rebuilding Together Howard County to provide service opportunities for HCPSS students while improving the lives of Howard County homeowners in need of housing repairs.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-239/">Howard County Students Recognized for Literary Achievement</a></h2>
	<p>The Howard County Poetry and Literature Society (HoCoPoLitSo) awarded book prizes to the student winners of its All County Writing Contest during presentations at Howard County public high school senior award assemblies and the Homewood Center.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-238/">HCPSS Students, Staff and Organization Recognized at May Board of Education Meetings</a></h2>
	<p>Superintendent Renee A. Foose recognized student, staff and organizational achievements at Board of Education meetings on May 12 and 26, 2016.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-237/">Board of Education to Hold Regular Meeting, June 23</a></h2>
	<p>The Howard County Board of Education will hold a regularly scheduled meeting at 4 p.m. on Thursday, June 23, 2016, in the Boardroom at the Department of Education, 10910 Clarksville Pike in Ellicott City.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-236/">HCPSS Partners with Elite Chiropractic &amp; Sport and the Howard County Striders to Support High School Running Programs</a></h2>
	<p>The Howard County Public School System has partnered with Elite Chiropractic &amp; Sport and the Howard County Striders to encourage the development of student athletes by providing resources and support for high school running programs.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/clear-path-success-class-2016/">Class of 2016 on Clear Path to Success</a></h2>
	<p>Over the last two weeks, 4,114 Howard County public school students took their final steps as high school students across the Merriweather Post Pavilion stage, accepting a diploma and walking into the next phase of their life journey. The Howard County Public School System Class of 2016 is an impressive group, with average SAT and ACT scores of 1651 and 23, respectively, notably exceeding state and national averages.</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-234/">Board of Education Audit Committee to Meet, June 16</a></h2>
	<p>The Audit Committee of the Board of Education will meet at 1 p.m., on Thursday, June 16, 2015, in Conference Room ML2 at the Department of Education, 10910 Clarksville Pike in Ellicott City</p>


	<h2><a href="http://www.hcpss.org/news-posts/2016/06/2015-16-233/">Board of Education Policy Committee to Meet, June 15</a></h2>
	<p>The Policy Committee of the Board of Education will meet at 3:30 p.m. on Wednesday, June 15, 2016, in Conference Room ML2 at the Department of Education, 10910 Clarksville Pike in Ellicott City.</p>


<div class="news-pager">
  <p><span class="news-prev"> 
    <span class="news-next"><a href="http://www.hcpss.org/news/press-release/page/2/">Next →</a></span></span></p>
</div>

</div>

<div class="sidebar">
<li id="sticky-posts-7" class="widget widget_ultimate_posts"><h2 class="widgettitle">Upcoming Events</h2>


<div class="upw-posts hfeed">

  
      
        
        <article class="post-20998 post type-post status-publish format-standard hentry category-community-event category-student-spotlight">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/elementary-middle-gt-enrichment-program-gallery/" rel="bookmark">
                  Elementary and Middle School GT Saturday Enrichment Program Visual Arts Showcase, now through July 1                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-20605 post type-post status-publish format-standard hentry category-community-event category-staff-focus">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/05/kindergarten-here-we-come-aug-1-25/" rel="bookmark">
                  Kindergarten, Here We Come!, Aug. 1-25                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-18671 post type-post status-publish format-standard hentry category-community-event">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/03/collision-avoidance-training-2016/" rel="bookmark">
                  Collision Avoidance Training 2016 Schedule                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
  
</div>

  <div class="upw-after">
    <p><a href="/news/community-event/">More Upcoming Events →</a></p>
  </div>
</li>
<li id="text-4" class="widget widget_text">			<div class="textwidget"><p><strong>Your HCPSS News Subscription</strong><br>
Learn more about the email and text alerts included within your HCPSS News subscription.</p>

<p> <span class="subscribe"><a href="/hcpss-news/"><i class="fa fa-bullhorn"></i>&nbsp;Learn More&nbsp;→</a></span></p></div>
		</li>
<li id="sticky-posts-6" class="widget widget_ultimate_posts"><h2 class="widgettitle">Press Releases</h2>


<div class="upw-posts hfeed">

  
      
        
        <article class="post-21606 post type-post status-publish format-standard hentry category-press-release">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/2015-16-242/" rel="bookmark">
                  Columbia Festival of the Arts Partners with HCPSS to Broaden Participation in the Arts and Performance Opportunities for Students                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-21567 post type-post status-publish format-standard hentry category-board-meeting-notification category-press-release">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/2015-16-241/" rel="bookmark">
                  Board of Education Audit Committee to Meet, June 16 (Time Change)                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-21544 post type-post status-publish format-standard hentry category-board-meeting-notification category-press-release">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/2015-16-240/" rel="bookmark">
                  Applications and Research Laboratory Partnership Provides Housing Repairs for Howard County Homeowners                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-21540 post type-post status-publish format-standard hentry category-press-release">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/2015-16-239/" rel="bookmark">
                  Howard County Students Recognized for Literary Achievement                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
        
        <article class="post-21528 post type-post status-publish format-standard hentry category-board-meeting-notification category-press-release category-story category-student-spotlight">

          <header>

            
                          <h4 class="entry-title">
                <a href="http://www.hcpss.org/news-posts/2016/06/2015-16-238/" rel="bookmark">
                  HCPSS Students, Staff and Organization Recognized at May Board of Education Meetings                </a>
              </h4>
            
            
          </header>

          
          <footer>

            
            
            
          </footer>

        </article>

      
  
</div>

  <div class="upw-after">
    <p><a href="/news/press-release/">More Press Releases →</a></p>
  </div>
</li>

</div>
</div>