<h2>Sidebar that appears for pages that are not full width</h2>
<span class="filemeta">This is part of HCPSS WordPress theme and does not have to be hard-coded. Menu will float to the bottom on mobile.</span>

<div class="container page group">

<div class="main group">

<h1>Health Services</h1>

<div class="body-content">
<p>School Health Services strives to enhance academic achievement and student and staff well being through the provision of a comprehensive school health services program.</p>
<h2>Contact</h2>
<p>For easy access to health care, contact the Health Room personnel at your child’s <a href="/schools/">school</a> or the School Health Services office listed below.</p>
<p>School Health Services<br>
Howard County Public School System<br>
10920 Clarksville Pike (Route 108)<br>
Ellicott City, MD 21042<br>
410-313-6812 (p);<br>
410-313-6780 (f)</p>
</div>

<div class="sidebar">
<li id="advanced_menu-23" class="widget widget_advanced_menu"><ul id="menu-health-services" class="menu-side"><li id="menu-item-8294" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1118 current_page_item menu-item-8294"><a href="http://www.hcpss.org/schools/health-services/">Health Services</a></li>
<li id="menu-item-8297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8297"><a href="http://www.hcpss.org/schools/health-services/services-and-programs/">Services and Programs</a></li>
<li id="menu-item-8296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8296"><a href="http://www.hcpss.org/schools/health-services/staffing/">Health Services Staffing</a></li>
<li id="menu-item-8295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8295"><a href="http://www.hcpss.org/schools/health-services/medication-procedures/">Medication Procedures</a></li>
<li id="menu-item-8293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8293"><a href="http://www.hcpss.org/schools/health-services/staffing/">Health Services Staffing</a></li>
</ul></li>
</div>
</div>
</div>

<h2><code>&lt;nav class="top-nav"&gt;</code> used for landing pages that are full width</h2>
<span class="filemeta">When pages are full width the sidebar becomes disabled. This primarily is used to go to anchored sections within the full width landing page, and then the section should link out to the larger pages. The pages within the landing page's scope will either have a bottom navigation or a sidebar.</span>

<h1>Transportation</h1>
<nav class="top-nav">
<ul>
<li><a href="#prepare">Responsibilities</a></li>
<li><a href="#stop-faqs">Bus Stop FAQs</a></li>
<li><a href="#safety">Safety</a></li>
<li><a href="#delays">Delays</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</nav>

<h2>Bottom navigation used for content pages that are full width, but are not landing pages</h2>
<span class="filemeta">Navigation that can live at the bottom of full width pages. This allows users to go back in the natural order of services, about, or academics pages.</span>

<h1>Student Allergy Procedures</h1>

<div><small><a href="/health/">←&nbsp;Back to Student Health at School</a></small></div>
<div class="contents">
<div class="col-left">
<h2>Ordering an Epipen</h2>
<p><a href="http://www.hcpss.org/f/schools/health/epipenorder-careplan.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Epipen order form</a></p>
<p>Students with allergic reactions that require the use of an Epinephrine Auto-Injector (epipen) can have a dose stored for them in the health room with a physician order. The oral medication section of the epipen order form should only be filled out if a student needs an oral medication in conjunction with an epipen dosage.</p>
<p>Parents must provide the epipen for storage in the health room. Schools do not provide epipens for individual students. The order form should be filled out by the family physician to ensure the school understands the nature of the student’s allergies and what triggers a severe enough reaction to warrant the use of an epipen.</p>
<h3>Oral Medications</h3>
<p><strong>Only want an oral medication on file?</strong></p>
<p>The <a href="/medications/">medication order form</a> should be submitted for students who need an over-the-counter medication such as Zyrtec, Claritin, or Benadryl, administered for less severe allergy symptoms. <a href="/medications/">Learn more about medications →</a></p>
<p></p></div>
<div class="col-right">
<h2>Food Allergies</h2>
<p>Students with known food allergies (shellfish, tree nuts, gluten, lactose, etc.) need to have a formal notice of their allergies written up by a family physician and submitted to the school nurse. Students who would still like to purchase food from the cafeteria can have accommodations made that are suited to their allergies.</p>
<p><a href="http://www.hcpss.org/food-services/nutrition-allergen-information/">View a list of allergens commonly found in HCPSS school meals&nbsp;→</a></p>
<div class="section__breakout--aside">
<h4>Didn’t know your student had a severe allergy?</h4>
<p>If a student has a severe reaction in school to an allergen that was previously unknown, there is an extra epipen available at all schools for emergency use.</p>
</div>
</div>
</div>
<p><strong>Questions about allergy procedures?</strong> Contact the health staff at <a href="/schools/">your child’s school</a> or the HCPSS Health Services Office at 410-313-6812.</p>

<div class="contents" style="border-top: #e7e7e7 1px solid;">
<div class="col-left">
<p><a href="/medications/">←&nbsp;Medication procedures</a></p>
</div>
<div class="col-right">
<p style="text-align: right;"><a href="/diabetes/">Diabetes procedures&nbsp;→</a></p>
</div>
</div>
