.sch-card {
  display: block;
  height: em(470px);
  width: 100%;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.05);
  padding: 0;
  margin-bottom: 0.5em;
  & h3 {
    font-size: $font-default + 2 !important;
    margin-bottom: 0 !important;
    cursor: pointer;
  }
  & p { margin: em(6px) 0px em(6px) 0px; }
  & h2 { margin-top: 0; }
  @media screen and (min-width: 1200px) {
    height: 510px;
    @include box--content($padding: 0, $float: left, $margin: 0.5em);
    width: 30%;  
  }
  @media screen and (min-width: $medium-screen) and (max-width: 1199px) {
    @include box--content($padding: 0, $float: left, $margin: 0.5em);
    width: 47%;
  }
  &__bg-image {
    height: em(150px);
    background-size: cover;
    border-top-left-radius: em(10px);
    border-top-right-radius: em(10px);
  }
  &__mascot-image {
    width: em(60px);
    height: em(60px);
    max-width: 100px !important;
    margin-top: em(-35px);
    margin-bottom: em(5px);
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }  
}

.sch-card, .sch-card__data, .sch-card p { color:$color-main-text; }

#sch-card__data-toggle h3 {cursor: pointer; color:$color-main-text;}

.sch-card input { display: none; }

#close { display: none; }

.sch-card input:checked + .sch-card__modal {
  z-index: 6;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(68,68,68,.95);
}

.sch-card input:checked + .sch-card__modal .sch-card__modal--overlay {
  animation: bounceIn .8s;
  position: fixed;
  left: 0;
  right: 0;
}

@keyframes bounceIn {
  0% {
    transform: scaleY(0.1);
    opacity: 0;
  }
  60% {
    transform: scaleY(1.2);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

.sch-card__modal {
  display: table;
  width: 100%;
  left: -9999px;
  background-color: rgba(68,68,68,.20);
  transition: background-color 0.3s ease;
  position: absolute;
  z-index: 5;
    &--overlay {
    /* display: block; */
    /* max-width: 90%; */
    padding: 20px;
    background: #fff;
    color: #000;
    margin: em(10px);
    text-align: left;
    cursor: auto;
    left: 0;
    right: 0;
    top: 0.5em;
    /* bottom: 0; */
    /* position: fixed; */ 
    border-radius: 10px;
      @media screen and (min-width: 685px) {
        margin: 0 auto;
        max-width: 70%;
        top: 200px;
      }
      @media screen and (min-width: 1400px) {
        margin: 0 auto;
        max-width: 50%;
      }
  }
    & label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 100vh;
  }
}

.sch-card__modal--overlay .sch-card__modal--overlay-inner span {
  margin-bottom: 12px;
}

.sch-card__modal--overlay .sch-card__modal--overlay-inner {
  height: 300px;
  overflow-y: auto;
}

.sch-card__modal--overlay-map {
  width: 350px;
  max-height: 260px;
  @media screen and (max-width: 685px) { width: 270px; }
}

.closebutton {
  font-size: em(24px);
  font-weight: 500;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 5px;
  width: 24px;
  @media screen and (min-width: 685px) { top: 15px; }
}



