<h2>School Cards for schoolodex page</h2>
<span class="filemeta">These display in rows of three with the images pulled from individual school sites. All data comes in from separate Jekyll build process. The modal window is powered by a radio button technique so it still works without JS enabled. All images lazy load and have a non-JS fallback.</span>

<div id="sch-carddata">
<div class="sch-card sch-card__ec sch-card__ellicottcity">
    <div class="ec-lazy sch-card__bg-image" data-original="http://www.hcpss.org/wp-content/uploads/2016/04/arl-project-group.jpg" style="display: block; background-image: url(&quot;http://www.hcpss.org/wp-content/uploads/2016/04/arl-project-group.jpg&quot;);"></div>
    <noscript>&amp;lt;div class=&amp;#8221;sch-card__bg-image&amp;#8221; style=&amp;#8221;background-image:url(http://www.hcpss.org/wp-content/uploads/2016/04/arl-project-group.jpg);&amp;#8221;&amp;gt;&amp;lt;/div&amp;gt;</noscript>
    <div class="heading__no-reset--center">
      <a href="http://arl.hcpss.org" target="_blank">
        <img style="display: inline; background-color: rgb(12, 103, 151);" class="ec-lazy sch-card__mascot-image" data-original="http://arl.hcpss.org/sites/default/files/mascot-arl-xs_1.png" alt="" src="http://arl.hcpss.org/sites/default/files/mascot-arl-xs_1.png">
        <noscript>&amp;lt;img src=&amp;#8221;http://arl.hcpss.org/sites/default/files/mascot-arl-xs_1.png&amp;#8221; style=&amp;#8221;background-color: rgb(12,103,151);&amp;#8221; class=&amp;#8221;sch-card__mascot-image&amp;#8221; height=&amp;#8221;60&amp;#8243; width=&amp;#8221;60&amp;#8243; alt=&amp;#8221;&amp;#8221;/&amp;gt;</noscript>
      </a>
          <h2 class="sch-card__name">Applications and Research Lab</h2>
          <p aria-label="phone number 410-313-6998" style="font-size:22px;">410-313-6998</p>
          <p><i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://arl.hcpss.org" target="_blank"> Web Site</a></span></p>
          <p>10920 Clarksville Pike (Route 108), Ellicott City,&nbsp;MD&nbsp;21042</p>
          <p>Principal – Rick Robb</p>
          <p aria-label="school hours "></p>          
      <label style="cursor:pointer;font-size:14px;text-transform:none;" class="btn__small sch-card__modal--toggle" for="arl" tabindex="0">View School Details</label>
    </div>
      <input onclick="scrollLoad()" class="sch-card__modal--toggle" type="radio" id="arl" name="overlay">
    <div class="sch-card__modal">
    <input type="radio" id="close" name="overlay">
    <label style="cursor:pointer;" for="close">
      <div class="sch-card__modal--overlay">
        <div class="closebutton">X</div>
        <span class="sch-card__modal--overlay-inner">
        <h2>Applications and Research Lab </h2>
        <section class="contents">
          <div class="col-left">
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://arl.hcpss.org" target="_blank"> Web Site</a></span>
            </div>
              <p><strong>Address:</strong> 10920 Clarksville Pike (Route 108), Ellicott City,&nbsp;MD&nbsp;21042</p>
              <p><strong>Phone:</strong> 410-313-6998</p>
              <p><strong>Fax:</strong> 410-313-7000</p>
            <p><strong>Data</strong></p>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-line-chart fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/performance/ispr_en_ec_arl.pdf"> MSDE Performance Report</a></span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-map-o fa-2"></i><span class="sch-card__icon-text"> All Students Transported</span>
            </div>    
          </div>
        <div class="col-right">
          <p><strong><a href="https://www.google.com/maps/place/Applications+and+Research+Laboratory/@39.234915,-76.894786,17z/data=!4m2!3m1!1s0x89b7df61228ae963:0x7557056ab12cc472" target="_blank">Get Directions</a></strong></p>
            <a href="https://www.google.com/maps/place/Applications+and+Research+Laboratory/@39.234915,-76.894786,17z/data=!4m2!3m1!1s0x89b7df61228ae963:0x7557056ab12cc472" target="_blank">
              <img class="sch-card__modal--overlay-map sch-card__modal--overlay-map-lazy" data-original="http://www.hcpss.org/f/mrb/google-maps/arl-school-locate.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="display: inline;">
              <noscript>
                &amp;lt;img class=&amp;#8221;sch-card__modal&amp;#8211;overlay-map&amp;#8221; src=&amp;#8221;http://www.hcpss.org/f/mrb/google-maps/arl-school-locate.jpg&amp;#8221; /&amp;gt;
              </noscript>
            </a>
          </div>
        </section>
        </span>
      </div>
    </label>
    </div>
</div>

<div class="sch-card sch-card__es sch-card__columbia sch-card__green sch-card__pbis sch-card__healthy">
    <div class="es-lazy sch-card__bg-image" data-original="http://www.hcpss.org/mrb/aes/header-kids.jpg" style="display: block; background-image: url(&quot;http://www.hcpss.org/mrb/aes/header-kids.jpg&quot;);"></div>
    <noscript>&amp;lt;div class=&amp;#8221;sch-card__bg-image&amp;#8221; style=&amp;#8221;background-image:url(http://www.hcpss.org/mrb/aes/header-kids.jpg);&amp;#8221;&amp;gt;&amp;lt;/div&amp;gt;</noscript>
    <div class="heading__no-reset--center">
      <a href="http://aes.hcpss.org" target="_blank">
        <img style="display: inline; background-color: rgb(0, 102, 204);" class="es-lazy sch-card__mascot-image" data-original="http://www.hcpss.org/mrb/mascots/mascot-aes-xs.png" alt="" src="http://www.hcpss.org/mrb/mascots/mascot-aes-xs.png">
        <noscript>&amp;lt;img src=&amp;#8221;http://www.hcpss.org/mrb/mascots/mascot-aes-xs.png&amp;#8221; style=&amp;#8221;background-color: rgb(0,102,204);&amp;#8221; class=&amp;#8221;sch-card__mascot-image&amp;#8221; height=&amp;#8221;60&amp;#8243; width=&amp;#8221;60&amp;#8243; alt=&amp;#8221;&amp;#8221;/&amp;gt;</noscript>
      </a>
          <h2 class="sch-card__name">Atholton Elementary</h2>
          <p aria-label="phone number 410-313-6853" style="font-size:22px;">410-313-6853</p>
          <p><i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://aes.hcpss.org" target="_blank"> Web Site</a></span></p>
          <p>6700 Seneca Drive, Columbia,&nbsp;MD&nbsp;21046</p>
          <p>Principal – Denise Lancaster</p>
          <p aria-label="school hours 9:15 a.m. – 3:45 p.m.">9:15 a.m. – 3:45 p.m.</p>          
      <label style="cursor:pointer;font-size:14px;text-transform:none;" class="btn__small sch-card__modal--toggle" for="aes" tabindex="0">View School Details</label>
    </div>
      <input onclick="scrollLoad()" class="sch-card__modal--toggle" type="radio" id="aes" name="overlay">
    <div class="sch-card__modal">
    <input type="radio" id="close" name="overlay">
    <label style="cursor:pointer;" for="close">
      <div class="sch-card__modal--overlay">
        <div class="closebutton">X</div>
        <span class="sch-card__modal--overlay-inner">
        <h2>Atholton Elementary </h2>
        <section class="contents">
          <div class="col-left">
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://aes.hcpss.org" target="_blank"> Web Site</a></span>
            </div>
              <p><strong>Address:</strong> 6700 Seneca Drive, Columbia,&nbsp;MD&nbsp;21046</p>
              <p><strong>Phone:</strong> 410-313-6853</p>
              <p><strong>Fax:</strong> 410-313-7410</p>
            <p><strong>Data</strong></p>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-graduation-cap fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/profiles/prof_es_atholton.pdf"> School Profile</a></span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-line-chart fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/performance/ispr_en_es_atholton.pdf"> MSDE Performance Report</a></span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-map-o fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/atholton-es-walk-area.pdf"> Walk Area Map</a></span>
            </div>
            <p><strong>Achievements</strong></p>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-leaf fa-2" style="color:#015700;"></i><span class="sch-card__icon-text"> <a href="http://aesisgreen.weebly.com/index.html" target="_blank"> Green School</a>  – 2009, 2013</span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-star fa-2" style="color:#FECC6A;"></i><span class="sch-card__icon-text"> PBIS Maryland Gold</span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-heart fa-2" style="color:#953993;"></i><span class="sch-card__icon-text"> Healthy Howard School – Gold</span>
            </div>
          </div>
        <div class="col-right">
          <p><strong><a href="https://www.google.com/maps/place/Atholton+Elementary+School/@39.187015,-76.8658664,17z/data=!4m2!3m1!1s0x89b7de51b2ddc7ef:0x1ad08949109567db" target="_blank">Get Directions</a></strong></p>
            <a href="https://www.google.com/maps/place/Atholton+Elementary+School/@39.187015,-76.8658664,17z/data=!4m2!3m1!1s0x89b7de51b2ddc7ef:0x1ad08949109567db" target="_blank">
              <img class="sch-card__modal--overlay-map sch-card__modal--overlay-map-lazy" data-original="http://www.hcpss.org/f/mrb/google-maps/aes-school-locate.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="display: inline;">
              <noscript>
                &amp;lt;img class=&amp;#8221;sch-card__modal&amp;#8211;overlay-map&amp;#8221; src=&amp;#8221;http://www.hcpss.org/f/mrb/google-maps/aes-school-locate.jpg&amp;#8221; /&amp;gt;
              </noscript>
            </a>
          </div>
        </section>
        </span>
      </div>
    </label>
    </div>
</div>

<div class="sch-card sch-card__hs sch-card__columbia sch-card__healthy sch-card__leed">
    <div class="hs-lazy sch-card__bg-image" data-original="http://www.hcpss.org/wp-content/uploads/2016/04/ahs-chorus-concert.jpg" style="display: block; background-image: url(&quot;http://www.hcpss.org/wp-content/uploads/2016/04/ahs-chorus-concert.jpg&quot;);"></div>
    <noscript>&amp;lt;div class=&amp;#8221;sch-card__bg-image&amp;#8221; style=&amp;#8221;background-image:url(http://www.hcpss.org/wp-content/uploads/2016/04/ahs-chorus-concert.jpg);&amp;#8221;&amp;gt;&amp;lt;/div&amp;gt;</noscript>
    <div class="heading__no-reset--center">
      <a href="http://ahs.hcpss.org" target="_blank">
        <img style="display: inline; background-color: rgb(114, 157, 79);" class="hs-lazy sch-card__mascot-image" data-original="http://ahs.hcpss.org/sites/default/files/atholtonhs.png" alt="" src="http://ahs.hcpss.org/sites/default/files/atholtonhs.png">
        <noscript>&amp;lt;img src=&amp;#8221;http://ahs.hcpss.org/sites/default/files/atholtonhs.png&amp;#8221; style=&amp;#8221;background-color: rgb(114,157,79);&amp;#8221; class=&amp;#8221;sch-card__mascot-image&amp;#8221; height=&amp;#8221;60&amp;#8243; width=&amp;#8221;60&amp;#8243; alt=&amp;#8221;&amp;#8221;/&amp;gt;</noscript>
      </a>
          <h2 class="sch-card__name">Atholton High</h2>
          <p aria-label="phone number 410-313-7065" style="font-size:22px;">410-313-7065</p>
          <p><i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://ahs.hcpss.org" target="_blank"> Web Site</a></span></p>
          <p>6520 Freetown Road, Columbia,&nbsp;MD&nbsp;21044</p>
          <p>Principal – JoAnn Hutchens</p>
          <p aria-label="school hours 7:25 a.m. – 2:10 p.m.">7:25 a.m. – 2:10 p.m.</p>          
      <label style="cursor:pointer;font-size:14px;text-transform:none;" class="btn__small sch-card__modal--toggle" for="ahs" tabindex="0">View School Details</label>
    </div>
      <input onclick="scrollLoad()" class="sch-card__modal--toggle" type="radio" id="ahs" name="overlay">
    <div class="sch-card__modal">
    <input type="radio" id="close" name="overlay">
    <label style="cursor:pointer;" for="close">
      <div class="sch-card__modal--overlay">
        <div class="closebutton">X</div>
        <span class="sch-card__modal--overlay-inner">
        <h2>Atholton High </h2>
        <section class="contents">
          <div class="col-left">
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-cloud" style="color:#0063A4;"></i><span class="sch-card__icon-text"><a href="http://ahs.hcpss.org" target="_blank"> Web Site</a></span>
            </div>
              <p><strong>Address:</strong> 6520 Freetown Road, Columbia,&nbsp;MD&nbsp;21044</p>
              <p><strong>Phone:</strong> 410-313-7065</p>
              <p><strong>Fax:</strong> 410-313-7078</p>
            <p><strong>Data</strong></p>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-graduation-cap fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/profiles/prof_hs_atholton.pdf"> School Profile</a></span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-line-chart fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/performance/ispr_en_hs_atholton.pdf"> MSDE Performance Report</a></span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-map-o fa-2"></i><span class="sch-card__icon-text"><a href="http://www.hcpss.org/f/schools/atholton-hs-walk-area.pdf"> Walk Area Map</a></span>
            </div>
            <p><strong>Achievements</strong></p>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-leaf fa-2" style="color:#FECC6A"></i><span class="sch-card__icon-text">  LEED School, Gold  – 2015</span>
            </div>
            <div class="sch-card__data">
              <i class="sch-card__icon fa fa-heart fa-2" style="color:#953993;"></i><span class="sch-card__icon-text"> Healthy Howard School – Silver</span>
            </div>
          </div>
        <div class="col-right">
          <p><strong><a href="https://www.google.com/maps/place/Atholton+High+School/@39.1883603,-76.8825817,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7defb0aa07007:0x1ec6b27eb9cdd52f?hl=en" target="_blank">Get Directions</a></strong></p>
            <a href="https://www.google.com/maps/place/Atholton+High+School/@39.1883603,-76.8825817,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7defb0aa07007:0x1ec6b27eb9cdd52f?hl=en" target="_blank">
              <img class="sch-card__modal--overlay-map sch-card__modal--overlay-map-lazy" data-original="http://www.hcpss.org/f/mrb/google-maps/ahs-school-locate.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" style="display: inline;">
              <noscript>
                &amp;lt;img class=&amp;#8221;sch-card__modal&amp;#8211;overlay-map&amp;#8221; src=&amp;#8221;http://www.hcpss.org/f/mrb/google-maps/ahs-school-locate.jpg&amp;#8221; /&amp;gt;
              </noscript>
            </a>
          </div>
        </section>
        </span>
      </div>
    </label>
    </div>
</div>
</div>