<h2>Table with six columns</h2>

<div style="border: 1px solid #3494D2; padding: 10px; background-color: #FFFBFF;">
	<div class="table-responsive">
		<table class="table">
		<caption>Operating Budget Expenditures</caption>
			<thead>
				<tr>
					<th scope="col">Expenditures</th>
					<th scope="col">Actual FY 2013</th>
					<th scope="col">Actual FY 2014</th>
					<th scope="col">Actual FY 2015</th>
					<th scope="col">Approved FY 2016</th>
					<th scope="col">Superintendent Proposed FY 2017</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th scope="row">Total</th>
					<td>$697,156,007</td>
					<td>$727,764,250</td>
					<td>$754,387,365</td>
					<td>$776,338,380</td>
					<td>$838,690,780</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>Salary &amp; Wages</td>
					<td>$471,706,276</td>
					<td>$480,978,190</td>
					<td>$498,065,051</td>
					<td>$512,487,988</td>
					<td>$527,200,043</td>
				</tr>
				<tr>
					<td>Benefits</td>
					<td>$125,637,275</td>
					<td>$144,502,934</td>
					<td>$145,982,992</td>
					<td>$152,905,740</td>
					<td>$189,588,317</td>
				</tr>
				<tr>
					<td>Non-Personnel Accounts</td>
					<td>$99,812,456</td>
					<td>$102,283,126</td>
					<td>$110,339,322</td>
					<td>$110,944,652</td>
					<td>$121,902,420</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<h2>Table with three columns</h2>
<div style="border: 1px solid #3494D2; padding: 10px; background-color: #FFFBFF;">
	<div class="table-responsive">
		<table class="table">
		<caption>HCPSS Personnel Resources</caption>
			<thead>
				<tr>
					<th scope="col">Position</th>
					<th scope="col">Total FTE FY 2017</th>
					<th scope="col">Percentage</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th scope="row">Total Positions (FTE)</th>
					<td>8,236.8</td>
					<td>100%</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>Instructional Teachers &amp; Professionals</td>
					<td>5,065.6</td>
					<td>62%</td>
				</tr>
				<tr>
					<td>Instructional Support Staff</td>
					<td>1,276.1</td>
					<td>15%</td>
				</tr>
				<tr>
					<td>Non-Instructional Support Staff</td>
					<td>1,283.3</td>
					<td>16%</td>
				</tr>
				<tr>
					<td>Administration &amp; Professional Staff</td>
					<td>611.8</td>
					<td>7%</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>