<h2>Infographic Numbers</h2>
<div class="thirds">
	<ul class="infographic-numbers">
		<li><em>76</em> schools</li>
		<li><em>54,870</em> students</li>
		<li><em>8,136</em> staff</li>
	</ul>
</div>

<div class="contents">
<h2>PDF icons</h2>	
<span class="filemeta">Used on newer pages</span>
<p><a href="http://www.hcpss.org/f/schools/health/epipenorder-careplan.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Epipen order form</a></p>

<span class="filemeta">Came over in site migration, what's on most pages.</span>
<p><a href="http://www.hcpss.org/f/academics/principals-accounting.pdf">Principles of Accounting and Finance – Honors <img alt="(PDF)" src="http://www.hcpss.org/f/images/bullet-pdf.gif" width="16" height="16" align="bottom" border="0"></a></p>
</div>

<h2>Commonly Used Fontawesome icons</h2>

<span class="filemeta">Callouts</span>
<p><strong><i class="fa fa-exclamation-circle"></i> All survey emails have been sent out. If you have not received the personalized survey message yet, please check your Spam folder.</strong></p>

<span class="filemeta">Timelines that are not in ordered/unordered lists</span>
<h3><i style="color:#7DC254" class="fa fa-check-circle fa-lg"></i> February 2* – 7:00 p.m.</h3>

<span class="filemeta">Links to FAQs</span>
<p><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="http://www.hcpss.org/about-us/budgets/fy17/faq/"><strong>Questions and Answers about HCPSS Fiscal Year 2017 Operating Budget</strong></a></p>

<span class="filemeta">Longer blocks of content that briefly describe a process, but are not inside ordered/unordered lists.</span>
<p><i style="color:#198b19" class="fa fa-check-square-o"></i> Personnel from Home and Hospital Teaching will assign a home teacher or several teachers appropriate to the needs of the student. Selected courses may be available for online instruction.</p>
<p><i style="color:#198b19" class="fa fa-check-square-o"></i> The parent will be contacted to outline the program of study. The designated Home and Hospital teacher(s) will then contact the parent directly to arrange a schedule that is mutually agreeable to parent and the teacher(s).</p>

<span class="filemeta">Copy on service-oriented pages that relate to transportation</span>
<h2><i class="fa fa-bus" aria-hidden="true"></i> Field Trips</h2>
<p><a href="https://hcpss2.securesites.net/SchoolLocator/index.jsp" target="_blank"><i class="fa fa-bus"></i>&nbsp; Find your student’s bus route →</a></p>



