<p>Always use <code>.contents</code> when using columns. The <code>.contents</code> rule works the same as a row in Bootstrap by going the full width of the container and is set to <code>display:inline-table</code></p>

<h2><code>.thirds</code> to separate content into three columns</h2>

<div class="contents">
	<h2>Heading</h2>
	<div class="thirds">
		<h3>Column 1</h3>
		<p>Nullam sit amet gravida metus, eget posuere erat. Vestibulum massa dolor, aliquam non nibh vitae.</p>
	</div>
	<div class="thirds">
		<h3>Column 2</h3>
		<p>Nullam sit amet gravida metus, eget posuere erat. Vestibulum massa dolor, aliquam non nibh vitae.</p>
	</div>
	<div class="thirds">
		<h3>Column 3</h3>
		<p>Nullam sit amet gravida metus, eget posuere erat. Vestibulum massa dolor, aliquam non nibh vitae.</p>
	</div>		
</div>

<div class="contents">
	<h2>Graphics</h2>
	<div class="thirds">
		<ul class="infographic-numbers">
			<li><em>76</em> schools</li>
			<li><em>54,870</em> students</li>
			<li><em>8,136</em> staff</li>
		</ul>
	</div>

	<div class="thirds">
		<p><img src="http://s3.amazonaws.com/hcpss.web.site/images/infographic-grad.png" width="200" height="188" alt=""></p>
		<p class="caption">93% of all HCPSS Students graduate.</p>
	</div>

	<div class="thirds">
		<p><img src="http://s3.amazonaws.com/hcpss.web.site/images/infographic-college.png" width="200" height="188" alt=""></p>
		<p class="caption">85% of all HCPSS Students attend college after graduating.</p>
	</div>
</div>

<h2><code>.two-thirds--last</code> with <code>.thirds</code></h2>
<span class="filemeta">This is ideal for adding additional content that only spans one column to content that spans two columns. Using <code>.thirds</code> first inside of <code>.contents</code> and pairing it with <code>.two-thirds--last</code> allows a one column block of content to live next to a two column block of content.</span>

<div class="contents">
	<div class="thirds">
		<p>“The laws of Nature are written in the language of mathematics.”</p>
			<blockquote><p>—Galileo</p></blockquote>
		<p><strong>How to Think and Reason Mathematically:</strong></p>
			<ol>
				<li style="margin-bottom: 8px">Make sense of problems and persevere in solving them.</li>
				<li style="margin-bottom: 8px">Reason abstractly and quantitatively.</li>
				<li style="margin-bottom: 8px">Construct viable arguments and critique the reasoning of others.</li>
				<li style="margin-bottom: 8px">Model with Mathematics.</li>
				<li style="margin-bottom: 8px">Use appropriate tools strategically.</li>
				<li style="margin-bottom: 8px">Attend to precision.</li>
				<li style="margin-bottom: 8px">Look for and make use of structure.</li>
				<li style="margin-bottom: 8px">Look for and express regularity in repeated reasoning.</li>
			</ol>
	</div>	
	<div class="two-thirds--last">
		<h2>Overview</h2>
		<p>The Howard County Public School System’s mathematics program is built upon the HCPSS Mathematics Curriculum. The mathematics standards set a rigorous definition of college and career readiness by demanding that students develop a depth of understanding and ability to apply mathematics to real-life situations, as college students and employees regularly do. In prekindergarten through grade 8 mathematics, the standards lay a solid foundation in whole numbers, addition, subtraction, multiplication, division, fractions, and decimals. Taken together, these elements support a student’s ability to learn and apply more demanding mathematics concepts and procedures in middle and high school.</p>
	</div>	
</div>

<h2><code>.two-thirds--first</code> with <code>.thirds</code></h2>
<span class="filemeta">The same thing can be done so the two columns comes first, but uses <code>.two-thirds--first</code> instead.</span>

<div class="contents">
	<div class="two-thirds--first">
		<h2>Overview</h2>
		<p>The Howard County Public School System’s mathematics program is built upon the HCPSS Mathematics Curriculum. The mathematics standards set a rigorous definition of college and career readiness by demanding that students develop a depth of understanding and ability to apply mathematics to real-life situations, as college students and employees regularly do. In prekindergarten through grade 8 mathematics, the standards lay a solid foundation in whole numbers, addition, subtraction, multiplication, division, fractions, and decimals. Taken together, these elements support a student’s ability to learn and apply more demanding mathematics concepts and procedures in middle and high school.</p>
	</div>
	<div class="thirds">
		<p>“The laws of Nature are written in the language of mathematics.”</p>
			<blockquote><p>—Galileo</p></blockquote>
		<p><strong>How to Think and Reason Mathematically:</strong></p>
			<ol>
				<li style="margin-bottom: 8px">Make sense of problems and persevere in solving them.</li>
				<li style="margin-bottom: 8px">Reason abstractly and quantitatively.</li>
				<li style="margin-bottom: 8px">Construct viable arguments and critique the reasoning of others.</li>
				<li style="margin-bottom: 8px">Model with Mathematics.</li>
				<li style="margin-bottom: 8px">Use appropriate tools strategically.</li>
				<li style="margin-bottom: 8px">Attend to precision.</li>
				<li style="margin-bottom: 8px">Look for and make use of structure.</li>
				<li style="margin-bottom: 8px">Look for and express regularity in repeated reasoning.</li>
			</ol>
	</div>
</div>

<h2><code>.thirds--first</code> used first with two other columns</h2>
<span class="filemeta">Pattern is great for using three columns, but still needing some form of separation between the first and last columns.</span>

<div class="contents">
	<h2>Frequent Health Topics</h2>
	<div class="thirds--first">
	<h3>Medications</h3>
		<p>Students can take their medications, whether prescribed or over the counter, in the health room during the school day.</p>
		<p><a href="/health/medications/">Learn about our medication procedures and complete a form to get medications to school&nbsp;→</a></p>
	</div>
	<div class="thirds">
	<h3>Allergies</h3>
		<p>Epipens must be provided by parents for use during school hours. Additionally, parents can notify the school about food allergies and accommodations can be made.</p>
		<p><a href="/health/allergies/">Read about our allergy procedures and fill out a form&nbsp;→</a></p>
	</div>
	<div class="thirds">
	<h3>Diabetes</h3>
		<p>If a student is diabetic there are a few extra forms to fill out and the school requires a notice from a family physician.</p>
		<p><a href="/health/diabetes/">Find out more about how your student can manage their diabetes at school&nbsp;→</a></p>
	</div>
</div>

<h2><code>.thirds__breakout--tiles</code></h2>
<span class="filemeta">Use when breaking out images into threes with additional content beneath. This is used on the employment page.</span>

<div class="contents">
	<section class="thirds__breakout--tiles">
	<img class="shadow-smaller" src="http://www.hcpss.org/wp-content/uploads/2015/10/sara-liu-blackboard-chinese-class.jpg"><p></p>
	<h3 class="heading--center">Educators</h3>
		<ul>
			<li><a href="/employment/teacher-careers/">Careers</a></li>
			<li><a href="/employment/immediate-openings/#educators">Immediate Job Openings</a></li>
			<li><a href="/employees/certification/documentation/">New Teacher Certification</a></li>
			<li><a href="/employment/teacher-careers/#hcea-salaries">Salaries</a></li>
			<li><a href="/resources-and-benefits/">Benefits</a></li>
			<li><a href="/employment/teacher-careers/events/">Teacher recruitment</a></li>
		</ul>
	</section>
	<section class="thirds__breakout--tiles">
	<img class="shadow-smaller" src="http://www.hcpss.org/wp-content/uploads/2015/11/principals-meeting-gces-cres.jpg"><p></p>
	<h3 class="heading--center">Leaders</h3>
		<ul>
			<li><a href="/employment/admin-careers/">District Administrators</a></li>
			<li><a href="/employment/admin-careers/">School Administrators</a></li>
			<li><a href="/resources-and-benefits/">Benefits</a></li>
		</ul>
	</section>
	<section class="thirds__breakout--tiles">
	<img class="shadow-smaller" src="http://www.hcpss.org/wp-content/uploads/2015/11/rucker-para-student.jpg"><p></p>
	<h3 class="heading--center">Support</h3>
		<ul>
			<li><a href="/support-positions/#para">Paraeducators and assistants</a></li>
			<li><a href="/support-positions/#custodial">Clerical, Custodial, Maintenance, and Food Services Staff</a></li>
			<li><a href="/employment/immediate-openings/">Immediate Job Openings</a></li>
			<li><a href="/resources-and-benefits/">Benefits</a></li>
		</ul>
	</section>
</div>

<h2><code>.two-thirds</code> with <code>.thirds</code> and <code>.thirds-highlight</code></h2>
<span class="filemeta">This pattern is used on the homepage. Two-thirds can be combined with thirds but must be contained inside of <code>.content-trending</code> in order to use <code>.thirds-highlight</code> as a column.</span>

<div class="section content-trending group">
	<div class="thirds thirds-highlight">
	<h2 style="width: 90%;"><i class="fa fa-dashboard fa-2" aria-hidden="true"></i> Trending Topics</h2>
		<p><strong><a href="/diversity-recruitment/">Recruiting Diversity</a></strong><br>Diversity makes us great. Come join us.</p>
		<p><strong><a href="/about-us/budgets/">Board of Education FY 2017 Budget Request</a></strong><br>Learn more about the budget request.</p>
		<p><strong><a href="/committees/diversity-inclusion/">Diversity and Inclusion</a></strong><br>Learn more about the committee</p>
		<p><strong><a href="/parents/environmental-committee/">Indoor Environmental Quality</a></strong><br>Read the report presented to the Board of Education</p>
	</div>

	<div class="two-thirds">
	<h2 style="width: 90%; padding-top: 0px; border-bottom: 1px solid rgba(51, 51, 51, 0.2); display: inline-block; font-size: 1.4em; margin-bottom: 0.58333em;"><i class="fa fa-compass fa-2" aria-hidden="true"></i> Services &amp; Information</h2>
		<div class="thirds">
			<p><strong><a href="/calendar/">School Calendar</a></strong><br>Stay up-to-date on system-wide events and closings.</p>
			<p><strong><a href="/connect/">HCPSS Connect</a></strong><br>Access your student’s information and classroom instructional tools</p>
			<p><strong><a href="/schools/enrollment-and-registration/">Enrollment and Registration</a></strong><br>How to enroll your child in the school system</p>
			<p><strong><a href="/food-services/">Food Services</a></strong><br>View menus, meal prices, and make online payments</p>
		</div>
		<div class="thirds">
			<p><strong><a href="/about-us/forms/">HCPSS Forms</a></strong><br>Health, medication, athletic, and application forms</p>
			<p><strong><a href="http://launch.customschoolapp.net/hcpss/">HCPSS Mobile App</a></strong><br>Aggregate news and events from the district and your school</p>
			<p><strong><a href="https://hcpss2.securesites.net/SchoolLocator/index.jsp">School &amp; Bus Locator</a></strong><br>Find your child’s school and view bus pickup times</p>
			<p><strong><a href="https://staff.hcpss.org/">Staff Hub</a></strong><br>The daily launchpad for HCPSS employees and departments</p>
		</div>
	</div>
</div>

<h2><code>.section__breakout--full</code> combined with <code>.contents</code> will span a breakout section the width of the page</h2>

<span class="filemeta">There is also a slight margin outside main page container. Columns can be used inside of the breakout for arranging content.</span>

<p></p>
<div class="contents section__breakout--full">
	<h2><i class="fa fa-heart-o" aria-hidden="true"></i> Healthcare Forms for Enrollment </h2>
	<div class="thirds">
		<p>Based on your student’s age and upcoming grade, the following should be completed by your child’s healthcare providers <strong>before scheduling an enrollment meeting</strong> with your child’s school.</p>
		<p><a href="/enroll/">Learn more about the enrollment process&nbsp;→</a></p>
	</div>
	<div class="two-thirds--last">
		<h3>All students</h3>
		<p><a href="http://www.hcpss.org/f/files/form_health_physicalexam.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Physical Exam</a> – required for students who have never attended a Maryland Public School, including Pre-Kindergarten and Kindergarten.</p>
		<p><a href="http://www.hcpss.org/f/schools/immunization.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Immunization Form</a> – required for students who have never attended a Maryland Public School, including Pre-Kindergarten and Kindergarten. Proof of immunizations from a Maryland school outside of Howard County can also be used. <a href="/immunizations/">Learn more about immunizations requirements</a></p>
		<p><a href="http://www.hcpss.org/f/files/form_health_dentalexam.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Dental Exam</a> – HCPSS strongly urges families to have children visit their dentist at least once a year, please have your dentist examine your child and complete this form before registration.</p>
		<h3>Lead Testings</h3>
		<p><a href="http://www.hcpss.org/f/files/form_health_lead.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Lead Testing Form</a> – required for enrolling a child in child care, pre-kindergarten, kindergarten or first grade.</p>
	</div>
</div>