/* Allows col classes to live in their own container */
.contents {
  display: inline-table;  
  width: 100%;
  max-height: 100%;
}

.col {
    &-left {
    @include column (48%, left);
      @media screen and (max-width: $medium-screen) {
        float: none;
        width:100%;
      } 
    }   
    &-right {
    @include column (48%, right);
      @media screen and (max-width: $medium-screen) {
        float: none;
        width:100%;
      } 
    }
}