<div class="contents">
<div class="col-left">
<h3>Staggering Statistics</h3>
<p>No matter the location—whether it’s in the classroom or on the street—HCPSS values safety as a priority for everyone. Safe Kids Worldwide reports that high-school students age 15–19 make up half of all underage pedestrian fatalities. They have twice the death rate of younger children. Often in these accidents, it is because the teens are distracted by texting, handheld games, music or talking on the phone while they are walking. Statistics show that 1 in 5 high school teens cross the street while engaged in a distracting behavior. Maryland is in the top 10 states with the greatest number of pedestrian fatalities among youth 12–19-years-old.</p>
<p><a href="/f/schools/transportation/BusSafety.pdf">Read more about bus safety <i class="fa fa-file-pdf-o"></i></a></p>
<p></p></div>
<div class="col-right">
<h3>Tips to Stay Safe</h3>
<ul>
<li>Put away your device before crossing the street. Never walk into the street without first looking both ways to make sure there is no oncoming traffic. </li>
<li>Make eye contact with drivers. This will ensure that you see them and they see you. </li>
<li>Cross at street corners with crosswalks and wait for the signal to walk before crossing. </li>
<li>If you need to use your device, stop and do so in a safe place, not in the middle of the road. </li>
<li>Walk on the sidewalk and watch out for cars that are turning or pulling in/backing up from driveways. </li>
<li>If you are wearing headphones, pull them out of your ears or turn the volume down before crossing the street. </li>
<li>Be predictable. Use crosswalks as often as you can. This is where drivers will be expecting pedestrians. </li>
<li>You may not be distracted, but others may be. Be aware, not just of yourself, but of others and don’t be afraid to speak up if someone else is being unsafe. </li>
</ul></div>
</div>