<h2>Filter menus that sort the school cards</h2>
<span class="filemeta">At the moment, these filters are only used for the schoolodex. The side menu that pops out uses the same non-JS radio button control as the modals for the school card's data.</span>
<p></p>
<div class="sch-card__filter-box" aria-labelledy="card-filter" role="region">

  <section class="sch-card__filter-box--sch-filters" aria-labelledby="sch-level" role="region">
    <strong id="sch-level">School Level</strong>
    <div class="sch-card__categories-container-labels" role="radiogroup">
      <label for="all-schools">
        <input type="radio" name="filter" id="all-schools" class="label-change" value="*" checked=""> <span style="margin-right:10px;">All Schools (76)</span>
      </label>
      <label for="es">
        <input type="radio" name="filter" id="es" class="label-change" value=".sch-card__es"> <span style="margin-right:10px;">Elementary (41)</span>
      </label>
      <label for="ms">
        <input type="radio" name="filter" id="ms" class="label-change" value=".sch-card__ms"> <span style="margin-right:10px;">Middle (20)</span>
      </label>
      <label for="hs">
        <input type="radio" name="filter" id="hs" class="label-change" value=".sch-card__hs"> <span style="margin-right:10px;">High (12)</span>
      </label>
      <label for="ed-center">
        <input type="radio" name="filter" id="ed-center" class="label-change" value=".sch-card__ec"> <span style="margin-right:10px;">Education Center&nbsp;(3)&nbsp;</span>
      </label>
    </div>
  </section>

  <div id="container__filter-button">
    <label class="toggle" for="sidebartoggler" tabindex="0" id="card-filter"><span class="btn__small--light"> <i class="fa fa-filter" aria-hidden="true"></i> More Filters</span></label>
  </div>

  <div style="font-size: 24px;" id="result-count"></div>

</div>

<div class="sch-card__categories">
  <input type="checkbox" id="sidebartoggler">
    <label for="sidebartoggler">
      <p style="float: right;cursor:pointer;">Close <i class="fa fa-times-circle" aria-hidden="true"></i></p>
    </label>

  <section>
    <input name="cardsearch" type="search" id="cardsearchinput" placeholder="Search for a school">
  </section>

  <section aria-labelledby="md-awards" role="region">
    <strong id="md-awards">Maryland Awards</strong>
    <div class="sch-card__categories-container-labels">
      <label for="green-school">
        <input type="checkbox" name="filter" id="green-school" class="label-change" value=".sch-card__green"> <span>Green School<br></span>
      </label>  
      <label for="pbis-winner">
        <input type="checkbox" name="filter" id="pbis-winner" class="label-change" value=".sch-card__pbis"> <span><span aria-label="Positive Behavioral Intervention and Supports">PBIS</span> Award Winner<br></span>
      </label>  
      <label for="healthy-howard">
        <input type="checkbox" name="filter" id="healthy-howard" class="label-change" value=".sch-card__healthy"> <span>Healthy Howard School<br></span>
      </label>   
    </div>
  </section>

  <section aria-labelledby="natl-awards" role="region"> 
  <strong id="natl-awards">National Awards</strong>
    <div class="sch-card__categories-container-labels">
      <label for="leed-school">
        <input type="checkbox" name="filter" id="leed-school" class="label-change" value=".sch-card__leed"> <span>LEED Certification</span>
        <br>
      </label>      
      <label for="nces-school">    
        <input type="checkbox" name="filter" id="nces-school" class="label-change" value=".sch-card__nce"> National Council of Excellence School<br>
      </label>
      <label for="blue-ribbon-school">  
        <input type="checkbox" name="filter" id="blue-ribbon-school" class="label-change" value=".sch-card__blue-ribbon"> Blue Ribbon School
      </label>
    </div>
  </section>

  <section aria-labelledby="natl-awards" role="region">
  <strong id="natl-awards">Academics</strong>
    <div class="sch-card__categories-container-labels">
      <label for="title-i">    
        <input type="checkbox" name="filter" id="title-i" class="label-change" value=".sch-card__titlei"> Title I<br>
      </label>
      <label for="esm">  
        <input type="checkbox" name="filter" id="esm" class="label-change" value=".sch-card__esm"> Elementary School Model
      </label>
    </div>
  </section> 

  <section aria-labelledby="natl-awards" role="region">
  <strong id="natl-awards">Location</strong>
    <div class="sch-card__categories-container-labels">
      <label for="clarksville">    
        <input type="checkbox" name="filter" id="clarksville" class="label-change" value=".sch-card__clarksville"> Clarksville<br>
      </label>
      <label for="columbia">  
        <input type="checkbox" name="filter" id="columbia" class="label-change" value=".sch-card__columbia"> Columbia<br>
      </label>
      <label for="dayton">  
        <input type="checkbox" name="filter" id="dayton" class="label-change" value=".sch-card__dayton"> Dayton<br>
      </label>
      <label for="ellicott-city">  
        <input type="checkbox" name="filter" id="ellicott-city" class="label-change" value=".sch-card__ellicottcity"> Ellicott City<br>
      </label> 
      <label for="elkridge">  
        <input type="checkbox" name="filter" id="elkridge" class="label-change" value=".sch-card__elkridge"> Elkridge<br>
      </label>        
      <label for="fulton">  
        <input type="checkbox" name="filter" id="fulton" class="label-change" value=".sch-card__fulton"> Fulton<br>
      </label>  
      <label for="glenelg">  
        <input type="checkbox" name="filter" id="glenelg" class="label-change" value=".sch-card__glenelg"> Glenelg<br>
      </label>  
      <label for="glenwood">  
        <input type="checkbox" name="filter" id="glenwood" class="label-change" value=".sch-card__glenwood"> Glenwood<br>
      </label>  
      <label for="hanover">  
        <input type="checkbox" name="filter" id="hanover" class="label-change" value=".sch-card__hanover"> Hanover<br>
      </label>  
      <label for="jessup">  
        <input type="checkbox" name="filter" id="jessup" class="label-change" value=".sch-card__jessup"> Jessup<br>
      </label>   
      <label for="laurel">  
        <input type="checkbox" name="filter" id="laurel" class="label-change" value=".sch-card__laurel"> Laurel<br>
      </label>
      <label for="marriottsville">  
        <input type="checkbox" name="filter" id="marriottsville" class="label-change" value=".sch-card__marriottsville"> Marriottsville<br>
      </label>      
      <label for="west-friendship">  
        <input type="checkbox" name="filter" id="west-friendship" class="label-change" value=".sch-card__westfriendship"> West Friendship<br>
      </label> 
      <label for="woodbine">  
        <input type="checkbox" name="filter" id="woodbine" class="label-change" value=".sch-card__woodbine"> Woodbine<br>
      </label>
    </div>
  </section>  

</div>

