<h2>Four step timeline</h2>
<span class="filemeta"><code>.arrow__container</code> is to get around Wordpress autop issue. Next major release will have autop filter enabled on the page</span>
<p></p>
<div class="contents">
<div id="timeline">
<div class="timeline__four-steps">
<p><strong>Obtain an Application</strong></p>
<p>Contact your child’s school to start the application process</p>
</div>
<div class="arrow__container" style="text-align: center;display: inline-block !important;"><i class="arrow fa fa-arrow-right fa-3"></i></div>
<div class="timeline__four-steps">
<p><strong>Consult with Health Professionals</strong></p>
<p>Health professionals can help you complete parts of the form</p>
</div>
<div class="arrow__container" style="text-align: center;display: inline-block !important;"><i class="arrow fa fa-arrow-right fa-3"></i></div>
<div class="timeline__four-steps">
<p><strong>Return Application</strong></p>
<p>Staff will review and create a referral if the student is accepted.</p>
</div>
<div class="arrow__container" style="text-align: center;display: inline-block !important;"><i class="arrow fa fa-arrow-right fa-3"></i></div>
<div class="timeline__four-steps">
<p><strong>Plan times for your child’s teacher</strong></p>
<p>Home and Hospital personnel will outline a course of study and assign a teacher</p>
</div>
</div>
</div>

<h2>Three step timeline</h2>

<div id="timeline">
<h2 class="heading--center">Obtaining a 504 Plan</h2>
<div class="timeline__three-steps">
<p><strong>Contact your child’s school</strong></p>
<p>Ask for the 504 Coordinator or 504 Administrator. Be ready to assist in documenting a disability at your school.</p>
</div>
<div class="arrow__container" style="text-align: center;display: inline-block !important;"><i class="arrow fa fa-arrow-right fa-3"></i></div>
<div class="timeline__three-steps">
<p><strong>Attend 504 meetings</strong></p>
<p>Attend the 504 Eligibility meeting and/or plan development meetings.</p>
</div>
<div class="arrow__container" style="text-align: center;display: inline-block !important;"><i class="arrow fa fa-arrow-right fa-3"></i></div>
<div class="timeline__three-steps">
<p><strong>Work with the school</strong></p>
<p>Be an active partner in the process and implemention of your child’s 504 plan through communication with the school.</p>
</div>
</div>

<h2>Single column timeline, full-width</h2>

<div class="contents">
<div id="timeline">
<div class="step--full">
<h3>Freshman Year</h3>
<ul>
<li>Take challenging courses, keep your grades up and work on study skills. </li>
<li>Begin talking with your counselor about core class requirements and let them know of your interest in playing collegiate level athletics.</li>
<li>Attend sports camps and start a sports resume, building on it each year. </li>
<li>Realistically analyze your athletic abilities and start thinking about academic and career goals.</li>
</ul></div>
<p>      <i class="step__arrow--center fa fa-arrow-down fa-3"></i> </p>
<div class="step--full">
<h3>Sophomore Year</h3>
<ul>
<li>Keep your grades up and choose challenging courses. </li>
<li>Update your sports resume (and maybe begin a videotape – upload to YouTube). </li>
<li>Talk with high school and club coaches about your abilities and ambitions. </li>
<li>Begin compiling a tentative list of colleges. Use your parents, coaches and guidance counselor as resources. </li>
<li>Make preliminary inquiries to colleges that interest you (send interest letter, resume and schedule of upcoming sport activities). Try to do this before the summer tournament/recruiting camp season. </li>
<li>Take every opportunity to participate in your sport to maximize your exposure and increase your skills in the summer before junior year and fall of junior year.</li>
</ul></div>
<p>      <i class="step__arrow--center fa fa-arrow-down fa-3"></i> </p>
<div class="step--full">
<h3>Junior Year</h3>
<ul>
<li>Keep your grades up and choose challenging senior year courses. The GPA reported to colleges is the one you have at the end of your junior year. </li>
<li>Talk with coaches about a realistic assessment of which college level you can play. </li>
<li>Talk with your counselor about career goals and core course requirements. Make sure you understand the transcript request process and what services and resources your counselor can help you with. </li>
<li>Take the SAT or ACT at least once in the spring of your junior year, twice if possible (March &amp; May or June). </li>
<li>Refine your list of schools. Know each schools entrance requirements (courses, SAT II’s, etc.) </li>
<li>Update your sports resume. </li>
<li>Make unofficial visits to some of the schools you are interested in. Try to meet with the coach on these visits. </li>
<li>Make second contact with coaches expressing your interest at the end of the junior year. Send updated academic and sport info, including schedule of upcoming summer participation. </li>
<li>Work on lining up teachers and/or coaches for letters of recommendation. </li>
<li>** If you are a spring sport athlete, you need to make contact with coaches before your junior season so they can see you early on. Also consider a camp between junior and senior year when peak recruiting begins.</li>
</ul></div>
<p>      <i class="step__arrow--center fa fa-arrow-down fa-3"></i> </p>
<div class="step--full">
<h3>Summer before Senior Year/Early Fall of Senior Year</h3>
<ul>
<li>Take every opportunity to participate in your sport to maximize your exposure and increase your skills.</li>
<li>Fulfill NCAA Clearinghouse obligations in mid-summer to early fall if you are thinking Div I or II.</li>
<li>Talk to college coaches about visits (official and unofficial). Be aware of recruiting rules regarding visits. </li>
<li>Make sure the courses you have registered for fulfill graduation requirements and meet NCAA Clearinghouse regulations. </li>
<li>Keep your grades up. Colleges will be looking at senior year grades and courses. </li>
<li>Register for the SAT, SAT II’s or ACT, if necessary. </li>
<li>Sit with your parents and coach to list pros/cons of each school you’re considering. Make your final decision based on a meaningful education, good career prep, and a satisfying athletic experience. </li>
<li>Attend college fairs, financial aid info sessions, and sign up for college admission visits in the guidance office.
<ul>
<li>Consider info about Early Decision or Early Action admission to college and Early Signing (of the National Letter of Intent) for athletic participation and/or a scholarship (<a href="http://www.nationalletter.org/" target="_blank">www.national-letter.org</a>). </li>
</ul>
</li>
<li>Decide which colleges to apply to and make sure to meet their deadlines. </li>
<li>Send completed applications and transcripts to colleges, preferably before winter break.</li>
<li>When you decide on a school, notify all schools recruiting you and thank them for the opportunity.</li>
</ul></div>
<p></p></div>
<p></p></div>
