<h2><code>.fourths</code> to separate content into four columns, combined with <code>.full</code></h2>
<span class="filemeta" style="margin-bottom: 30px;display: block;"><code>.fourths</code> evenly breaks out content inside of the <code>.contents</code> class into four columns. This can be used with copy or images. The <code>.full</code> class can be used in conjunction to add a border.</span>

<div class="contents full">
	<h2>Temporary Positions</h2>
		<div class="fourths">
		<h3>Substitute Positions</h3>
			<ul>
				<li><a href="/substitute-positions/">How to Apply</a></li>
				<li><a href="/substitute-positions/#pay-rates">Pay Rates</a></li>
				<li><a href="/substitute-positions/#smart-find">Smart Find Express</a></li>
				<li><a href="/substitute-positions/#faqs">Frequently Asked Questions</a></li>
			</ul>
	  </div>
		<div class="fourths">
		<h3>Home and Hospital</h3>
			<ul>
				<li><a href="/hht-positions/">How to apply</a></li>
				<li><a href="/hht-positions/#duties">Job Requirements</a></li>
			</ul>
	  </div>
		<div class="fourths">
		<h3>Bus Drivers</h3>
			<ul>
				<li><a href="/school-bus-driver-vacancies/">Applicant Requirements</a></li>
				<li><a href="/f/schools/transportation/school-bus-contractors.pdf">Current Contractors – Call to Apply</a></li>
			</ul>
		</div>
		<div class="fourths">
		<h3>Coaches</h3>
			<ul>
				<li><a href="/coaching-vacancies/">Current Vacancies</a></li>
			</ul>
	  </div>
</div>

<h2><code>.fourths</code> to separate content into four columns</h2>
<span class="filemeta">Pattern used on the homepage for Vision 2018 images</span>

<div class="contents">
	<h2 class="section-header"><span>Vision 2018</span></h2>
		<p class="tagline">Fulfilling the Promise of Preparation</p>
		<div class="fourths">
			<p><a href="/vision/students/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/vision/vision-goal-one.jpg" width="200" height="104" alt=""><br>
			<span class="caption" style="margin-right: 35px;"><span class="goal-number">Goal 1:</span> Students</span></a></p>
		</div>
		<div class="fourths">
			<p><a href="/vision/staff/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/vision/vision-goal-two.jpg" width="200" height="104" alt=""><br>
			<span class="caption" style="margin-right: 35px;"><span class="goal-number">Goal 2:</span> Staff</span></a></p>
		</div>
		<div class="fourths">
			<p><a href="/vision/families/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/vision/vision-goal-three.jpg" width="200" height="104" alt=""><br>
			<span class="caption" style="margin-right: 35px;"><span class="goal-number">Goal 3:</span> Families &amp; Community</span></a></p>
		</div>
		<div class="fourths">
			<p><a href="/vision/organization/"><img class="shadow-smaller" src="http://s3.amazonaws.com/hcpss.web.site/images/vision/vision-goal-four.jpg" width="200" height="104" alt=""><br>
			<span class="caption" style="margin-right: 35px;"><span class="goal-number">Goal 4:</span> Organization</span></a></p>
		</div>
</div>

<h2><code>.fourths</code> to separate images into four columns with <code>.no-border</code></h2>
<span class="filemeta">Pattern used on connect page for images that act as icons linked to individual pages. Combined with <code>.no-border</code>, this gets rid of the gray borders between the divs on smaller viewports.</span>
<p></p>

<div class="two-thirds">
	<div class="fourths no-border">
		<div class="img--center connect__img">
			<a href="http://hcpssne.ws/Connect-Login-Issue-Submission"><img src="http://www.hcpss.org/f/images/t/help.svg" alt=""></a>
			<p></p> <!-- This is automatically inserted by WP -->
			<div class="img__text--center"><strong><a href="http://hcpssne.ws/Connect-Login-Issue-Submission">Help</a></strong></div>
		</div>
	</div>
	<div class="fourths no-border">
		<div class="img--center connect__img">
			<a href="/connect/guides/"><img src="http://www.hcpss.org/f/images/t/guides.svg" alt=""></a>
			<p></p>
			<div class="img__text--center"><strong><a href="/connect/guides/">Guides</a></strong></div>
		</div>
	</div>
	<div class="fourths no-border">
		<div class="img--center connect__img">
			<a href="/connect/faq/"><img src="http://www.hcpss.org/f/images/t/faq.svg" alt=""></a>
			<p></p>
			<div class="img__text--center"><strong><a href="/connect/faq/">FAQs</a></strong></div>
		</div>
	</div>
	<div class="fourths no-border">
		<div class="img--center connect__img">
			<a href="http://hcpssne.ws/Connect-Feeback-Submission"><img src="http://www.hcpss.org/f/images/t/feedback.svg" alt=""></a>
			<p></p>
			<div class="img__text--center"><strong><a href="http://hcpssne.ws/Connect-Feeback-Submission">Feedback</a></strong></div>
		</div>
	</div>
</div>

